<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    verbose="true"
    testdox="true">
    
    <testsuites>
        <testsuite name="Member Admin Plugin Tests">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./includes/</directory>
            <exclude>
                <directory>./tests/</directory>
                <directory>./vendor/</directory>
                <file>./member-admin.php</file>
            </exclude>
        </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-html" target="./tests/coverage/html/" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="coverage-clover" target="./tests/coverage/clover.xml"/>
    </logging>
    
    <php>
        <const name="WP_TESTS_MULTISITE" value="0" />
        <const name="WP_DEBUG" value="true" />
        <const name="WP_DEBUG_LOG" value="true" />
        <const name="WP_DEBUG_DISPLAY" value="false" />
    </php>
</phpunit> 